html {
  font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: 2vh;
    max-width: 100vh;
}

h1 {
    border-bottom: 1px solid black;
    padding-left: 2.5vh;
    font-size: 4vh;
}

h2 {
    font-size: 3vh;
    color: darkgray;
}

h3 {
}

input[type=checkbox] {
    //transform: scale(3);
    width: 2vh;
    height: 2vh;
    vertical-align: middle;
}

label {
    vertical-align: middle;
    padding-left: 0.05vh;
}

.checkbox_list {
    padding-left: 0vh;
}

.checkbox_list li {
    padding-bottom: 0.5vh;
    list-style-type: none;
}

.checkbox_list li input[type=checkbox] {
    margin-right: 1vh;
}

#main_nav_div {
    background-color: lightgray;
    padding: 0.5vh;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 2vh;
}

.main_nav_button {
  font-family: 'Open Sans', sans-serif;
}

.filter_div {
    background-color: whitesmoke;
    padding: 2vh;
}

.update_div {
    background-color: whitesmoke;
    padding: 2vh;
}

.danger {
    color: lightcoral;
}

.game_card {
    background-color: whitesmoke;
    margin-top: 2.5vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    margin-bottom: 0vh;
    padding: 1.5vh;
    padding-left: 0vh;
}

.game_card_footer_buttons_div {
    text-align: right;
}

.game_card_footer_buttons_div button {
    font-size: 3vh;
    min-width: 5vh;
}

.game_card h3 {
    padding-left: 1.5vh;
}

.game_card h4 {
    color: darkgray;
    width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
}

.game_card_columns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.game_card_columns div {
    padding-right: 2.5vh;
}

.game_card_cover_div {
    max-width: 30%;
}

.game_card_cover_div img {
    max-height: 25vh;
}

.game_card_info {
    padding-top: 0vh;
    flex: 1 1;
}

.game_card_info * {
    margin-bottom: 1vh;
}

.game_card_info p {
    margin-top: 0vh;
    padding-top: 0vh;
}

.game_card_customizable_div {
    width: 100%;
}

#full_collection_screen_game_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.compact_game_card {
    background-color: whitesmoke;
    margin-top: .5vh;
    margin-left: .5vh;
    margin-right: .5vh;
    margin-bottom: .5vh;
    padding: .5vh;
    width: 20vh;
    min-width: 20vh;
    max-width: 20vh;
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
    flex: 1;
    position: relative;
}

.compact_game_card_cover_div {
    position: relative;
}

.compact_game_card img {
    width: 19vh;
    margin-left: auto;
    margin-right: auto;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
}

.compact_game_card_floating_buttons_div {
    text-align: right;
    position:  absolute;
    top: 0;
    right:  0;
}

.compact_game_card_floating_buttons_div button {
    font-size: 3vh;
    min-width: 5vh;
}

.compact_game_card h3 {
    margin-top: 0.5vh;
    padding-left: 1.5vh;
    font-size: 1.5vh;
}

.compact_game_card_release_date_container {
    position:absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.compact_game_card_release_date_tag {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1.7vh;
    font-size: 1.6vh;
}

.tag_check {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    background-color: lightblue;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1.5vh;
    display: inline-block;
    font-size: 1.5vh;
}

.own_check {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    background-color: lightgreen;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1.5vh;
    display: inline-block;
    font-size: 1.5vh;
}

.add_game_duplicate {
    background-color: khaki;
    padding: 1vh;
}

#game_details_cover_art {
    width: 25vh;
}

#game_details_info {
    padding: 2.5vh;
}

#game_details_info * {
    margin-top: 0vh;
    margin-bottom: 1vh;
}

#game_edit_cover_art {
    width: 25vh;
}

#game_edit_info {
    padding: 2.5vh;
}

#game_edit_info * {
    margin-top: 0vh;
    margin-bottom: 1vh;
}

#game_edit_info h2 {
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    border-bottom: 1px solid gray;
}

#game_edit_submit {
    margin-left: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 3vh;
}

#popup_overlay {
    background-color: lightgray;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#loading_message {
    background-color: lightgray;
    position: fixed;
    z-index: 2;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 35vw;
    border-radius: 3vmin;
}

#loading_message p {
    text-align: center;
    font-size: 2.6vmin;
}

#loading_message img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70%;
    width: auto;
}

#error_message {
    background-color: indianred;
    position: fixed;
    z-index: 2;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 35vw;
    border-radius: 3vmin;
}

#error_message p {
    text-align: center;
    font-size: 2.6vmin;
}

#error_message h3 {
    text-align: center;
}

#stats_container {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}

#stats_container h2 {
    margin-top: 5vh;
    font-size: 3vh;
}

#stats_container h3 {
    font-size: 2vh;
    font-weight: normal;
    margin-bottom: .5vh;
}

.percentage_chart_container {
    width: 100%;
}

.percentage_chart {
    width: 100%;
    height: 3vh;
}

.percentage_chart text {
    font-size: 1.5vh;
    opacity:  0.5;
    font-weight:  bold;
}

.percentage_chart_legend {
    display:  inline-block;
    width:  1vh;
    height:  1vh;
    margin-left:  1vh;
    margin-right:  1vh;
}

.percentage_chart_legend_name {
    font-size: 1vh;
}